# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# Data folders (if you don’t want to push large datasets)
data/
datasets/

# OS / editor files
.DS_Store
*.swp
